:root{
    margin: auto;
}
body{
    background-color: ;
}

nav{
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

ul {
    overflow:auto;
    list-style-type: none
}

li {
    height:20px;
    float:left;
    margin-right: 0px;
    border-right: 3px solid
    grey; 
    padding: 0 15px;
}

li:last-child {
    border-right:none;
}

li a {
    text-decoration: none;
    text-align: center;
    color: grey;
    font: 20px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;

}

li a:hover {
    color: rgb(253, 124, 225);
}


body {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.profile{
    margin: 10px;
    height: 350px;
}

.boxes{/*this puts the images into a grid*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;

}