:root{
    margin: auto;
}

body{
    background-color: rgb(236, 236, 236);
    text-align: center;
}


a{
    color: black;
}

nav{
  margin-top: 1rem;
}

/*landing page cards*/

.centre{ 
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boxes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}


.box-item {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    border-radius: 5px;
    overflow: visible;
    position: relative;
    
    
}

.table {
    height: auto;
    box-shadow: 0 10px 20px rgb(226, 226, 226);
    
}
.card-body{
  text-align: center;
}


/*portfolio*/

.portfolio-item {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.portfolio {/*this puts the images into a grid*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  flex-direction: row;
  justify-content: center; 
}
.my-4{
  border: 0.5px solid #f1d3d8;
}


/*CV*/
.container-sm{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-weight: 300;
  text-align: left;
}
.header{
  font-weight: 500;
  border-bottom: 1.5px dashed #f1d3d8;
  
}
.profile-header{
  font-size: 1.6rem;
  font-weight: 360;
  
}
.profile{
  font-size: 1.2rem;
  font-weight: 300;
  border-left: 3px solid #f1d3d8;
  padding-left: 1rem;
  
}
.gap{
  font-size: 0.2rem; 
}


/*about*/

.about-profile {
  padding: 1rem;
  height: 350px;
  border-style: none;
  border-radius: 100%; 
  max-width: 40vw;
  max-height: 40vw;
  filter: drop-shadow(0);; /* The drop shadow filter i found on this website https://developer.mozilla.org/en-US/docs/Web/CSS/filter*/
}
.about-profile:hover {
  border-style: none;
  border-radius: 100%;
  transition: background-size 0.3s ease;
  filter: drop-shadow(16px 16px 20px #f1d3d8);
  transition: background-size 0.3s ease; 

}
.about-header{
  font-size: 1.6rem;
  font-weight: 360;
  
  border-bottom: 1px solid #f1d3d8;
}
.col-lg-6{
  
  text-align: left;
}
/* contact me*/
/*code from https://codepen.io/Chitransh_Harshwal/pen/bjjwep*/

  
  .row1:after {
    content: "";
    display: table;
    clear : both;

  }
  .row1{
    display: flex;
    flex-direction: row;
    justify-content:center ;
  }
  
  .col-70{
    margin-left: 5em;
    margin-top: 10px;
    padding: 10px;
    width: 70%;
  }
  
  input[type=text], [type=email] { 
    width: 100%;
    padding: 12px;
    border: hidden;
    font-size: 18px;

    font-size: 1.4rem;
    font-weight: 200;
    color: var(--accent);
    border: 2px solid #f1d3d8;
    background-color: rgb(231, 231, 231);
    outline: none;
    box-sizing: border-box;
    resize: vertical;
    
  }
  
  label{
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  
  textarea{
    width: 100%;
    padding: 12px;
    border: hidden;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    
    font-weight: 200;
    border: 2px solid #f1d3d8;
    background-color: rgb(231, 231, 231);
    outline: none;
    height: 100px;
    resize: none;
  }
  
  textarea:focus  {
    
    background-color:#ffffff;
    border: 2px solid #ffffff;
  }
  
  input[type=submit] {
    border: 2px solid #f1d3d8;
    padding: 12px 12px 10px 12px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    font-weight: 200;
    background-color: rgb(231, 231, 231);
    float: right;
    color: var(--accent);
    text-transform: uppercase;
    transition: all 0.35s ease-in-out;
  }
  
  input[type=submit]:hover {
    color: var(--text2);
    padding: 12px 56px 10px 56px;
    outline: none;
    border: 2px solid #f1d3d8;;
    letter-spacing: 0px;
    background-color: #f1d3d8;;
    
  }
  
  @media screen and (max-width: 600px) {
      .row, .col-70, input[type=submit] {
          width: 100%;
          margin-top: 0;
      }
  }


